.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background:black;
    margin-left: auto;
    
    


}
.navbar a{
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin-left: 180px
}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: .3s;


}
.navbar a:hover::before{
    width: 100%;

}
.eddie{
    width: 140px;
    height: 140px;
    
    
   
  
   
    
}
