.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 90vhvh; 
    color: #fff; 
    text-align: center;
    padding: 2rem; 
    margin: 0; 
  }
  
  .main-title {
    font-size: 3rem; 
    margin: 0; 
    padding-top: 7rem; 
    padding-bottom: 20rem; 
    
  }
  
  .main-content {
    font-size: 1.2rem;
    margin-top: 1rem; 
  }
  .parrafo{
    font-size: large;
    font: bolder;
    justify-content: center;
    top: 33%;
    display: flex;
    position: absolute;
    color:whitesmoke;
  }
 
  